<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio</title>
    <link rel="stylesheet" type="text/css" href="../Assets/css/estilos.css">
    <link rel="icon" href="../Assets/img/icon4.png">
</head>
<body>
    <div class="cabecera">
        <h1>Taller Resolución</h1>
    </div>
    
    <nav>
        <ul>
            <li><a href="ejercicio1.html">Ejercicio 1</a></li>
            <li><a href="ejercicio2.html">Ejercicio 2</a></li>
            <li><a href="ejercicio3.html">Ejercicio 3</a></li>
            <li><a href="ejercicio4.html">Ejercicio 4</a></li>
            <li><a href="ejercicio5.html">Ejercicio 5</a></li>
            <li><a href="ejercicio6.html">Ejercicio 6</a></li>
        </ul>
    </nav>

    <section>

        <div class="ejercicio4">

            <h1>Ingresa los datos de los profesores.</h1>
            
            <div>
                <select id="nombre">
                    <option value="">Nombre</option>
                    <option value="Tatiana">Tatiana</option>
                    <option value="Carolina">Carolina</option>
                    <option value="Adriana">Adriana</option>
                    <option value="Yaneth">Yaneth</option>
                    <option value="Jonathan">Jonathan</option>
                    <option value="Luis">Luis</option>
                    <option value="Fernando">Fernando</option>
                </select>            
                <select id="apellido">
                    <option value="">Apellido</option>
                    <option value="Cabrera">Cabrera</option>
                    <option value="Forero">Forero</option>
                    <option value="Duarte">Duarte</option>
                    <option value="Castillo">Castillo</option>
                    <option value="Espitia">Espitia</option>
                    <option value="Baquero">Baquero</option>
                    <option value="Galindo">Galindo</option>
                </select>
                <select id="competencia">
                    <option value="">Competencia</option>
                    <option value="Calidad">Calidad</option>
                    <option value="Seguimiendo">Seguimiendo Proyecto</option>
                    <option value="Diseño">Diseño</option>
                    <option value="Gestion">Gestion Ambiental</option>
                    <option value="Php">Php</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Bases">Bases de datos</option>
                    <option value="Cultura">Cultura Fisica</option>

                </select>            
            </div>

            <button id="probar" class="botton calcular">Probar</button>
        </div>
    </section>

    <footer>
        <h2>Hecho por Cristhian Ignacio López Ficha 2465880</h2>
    </footer>

   <script src="../Assets/js/ejercicio4.js"></script>

</body>
</html>