<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio</title>
    <link rel="stylesheet" type="text/css" href="../Assets/css/estilos.css">
    <link rel="icon"  href="../Assets/img/icon2.png">
</head>
<body>
    <div class="cabecera">
        <h1>Taller Resolución</h1>
    </div>
    
    <nav>
        <ul>
            <li><a href="ejercicio1.html">Ejercicio 1</a></li>
            <li><a href="ejercicio2.html">Ejercicio 2</a></li>
            <li><a href="ejercicio3.html">Ejercicio 3</a></li>
            <li><a href="ejercicio4.html">Ejercicio 4</a></li>
            <li><a href="ejercicio5.html">Ejercicio 5</a></li>
            <li><a href="ejercicio6.html">Ejercicio 6</a></li>
        </ul>
    </nav>

    <section>

        <div class="ejercicio2">

            <input type="number" id="grados" placeholder="Temperatura">

            <div class="inicial-2">
            <h2 class="seleccione">Vas a convertir de: </h2>
            <select id="TemperaturaInicial">
                <option value="">Seleccione</option>
                <option value="Fahrenheit">Fahrenheit</option>
                <option value="Celsius">Celsius</option>
                <option value="Kelvin">Kelvin</option>
            </select>
            </div>

            <div class="inicial-2">
            <h2 class="seleccione1">Deseas convertir a: </h2>
            <select id="TemperaturaFinal">
                <option value="">Seleccione</option>
                <option value="Fahrenheit">Fahrenheit</option>
                <option value="Celsius">Celsius</option>
                <option value="Kelvin">Kelvin</option>
            </select>
            </div>

            <button id="calcular" class="botton calcular">Calcular</button>
        </div>
    </section>

    <footer>
        <h2>Hecho por Cristhian Ignacio López Ficha 2465880</h2>
    </footer>

   <script src="../Assets/js/ejercicio2.js"></script>

</body>
</html>